// $primary-color: #293462;
// $secondary-color: #C15A7D;
// $background: #FFB860;
// $font-light: white;
// $font-dark: black;
$primary-color: #D0A616;
$secondary-color: #007B70;
$background: #C0564B;
$header-background: #F5E1DA;
$font-light: white;
$font-dark: black;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.App {
    .home {
        .body {
            .about {
                display: flex;
                flex-direction: column;
                gap: 2em;
                min-height: 100vh;
                width: 100%;
                position: inherit;
                margin-top: 10%;
                background-color: $secondary-color;
                padding-bottom: 5em;
                .list-header {
                    position: -webkit-sticky;
                    position: -moz-sticky;
                    position: -ms-sticky;
                    position: -o-sticky;
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    padding: 0.5em;
                    width: 100%;
                    margin-bottom: 3em;
                    background-image: linear-gradient(to right, $header-background, $background);
                    color: $font-dark;
                    z-index: 1;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
                    font-family: 'Montserrat', sans-serif;
                }
                .sec-2 {
                    display: flex;
                    width: auto;
                    height: 100%;
                    padding: 0.1em 5em;
                    gap: 2em;
                    .picture {
                        display: flex;
                        flex-direction: column;
                        gap: .5em;
                        img {
                            width: 230px;
                            height: 280px;
                            border: 0.3em solid white;
                        }
                        .contact {
                            display: flex;
                            justify-content: space-evenly;
                            svg {
                                color: black;
                            }
                        }
                    }
                    .content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        span {
                            color: white;
                            font-size: large;
                        }
                        h1,
                        h3,
                        h5 {
                            color: black;
                        }
                    }
                }
                .work-experience {
                    width: 100%;
                    padding: 0 5em;
                    .work-card {
                        background-color: white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .App {
        .home {
            .body {
                .about {
                    min-height: 100vh;
                    width: 100%;
                    position: inherit;
                    margin-top: 10%;
                    background-color: $secondary-color;
                    .sec-2 {
                        padding: 0.1em 1em;
                        flex-direction: column;
                        align-items: center;
                        // edited
                        display: flex;
                        width: auto;
                        height: 100%;
                        gap: 2em;
                        .picture {
                            display: flex;
                            flex-direction: column;
                            gap: .5em;
                            img {
                                width: 230px;
                                height: 280px;
                                border: 0.3em solid white;
                            }
                            .contact {
                                display: flex;
                                justify-content: space-evenly;
                                svg {
                                    color: black;
                                }
                            }
                        }
                        .content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            span {
                                color: white;
                                font-size: large;
                            }
                        }
                    }
                    .work-experience {
                        padding: 0 .5em;
                        .work-card {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}