// $primary-color: #293462;
// $secondary-color: #C15A7D;
// $background: #FFB860;
// $font-light: white;
// $font-dark: black;
$primary-color: #D0A616;
$secondary-color: #007B70;
$background: #C0564B;
$header-background: #F5E1DA;
$font-light: white;
$font-dark: black;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.App {
    .home {
        .body {
            .about {
                min-height: 100vh;
                width: 100%;
                position: inherit;
                margin-top: 10%;
                .list-header {
                    position: -webkit-sticky;
                    position: -moz-sticky;
                    position: -ms-sticky;
                    position: -o-sticky;
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    padding: 0.5em;
                    width: 100%;
                    margin-bottom: 3em;
                    background-image: linear-gradient(to right, $header-background, $background);
                    color: $font-dark;
                    z-index: 1;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }
}