// $primary-color: #293462;
// $secondary-color: #C15A7D;
// $background: #FFB860;
// $font-light: white;
// $font-dark: black;
$primary-color: #D0A616;
$secondary-color: #007B70;
$background: #C0564B;
$header-background: #F5E1DA;
$font-light: white;
$font-dark: black;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App {
    .home {
        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            min-height: 20vh;
            background-color: $primary-color;
            justify-content: center;
        }
    }
}