// $primary-color: #293462;
// $secondary-color: #C15A7D;
// $background: #FFB860;
// $font-light: white;
// $font-dark: black;
$primary-color: #D0A616;
$secondary-color: #007B70;
$background: #C0564B;
$header-background: #F5E1DA;
$font-light: white;
$font-dark: black;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.App {
    .home {
        .body {
            .projects {
                min-height: 100vh;
                width: 100%;
                position: inherit;
                margin-top: 10%;
                .list-header {
                    position: -webkit-sticky;
                    position: -moz-sticky;
                    position: -ms-sticky;
                    position: -o-sticky;
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    padding: 0.5em;
                    width: 100%;
                    margin-bottom: 3em;
                    background-image: linear-gradient(to right, $header-background, $background);
                    color: $font-dark;
                    z-index: 1;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
                    font-family: 'Montserrat', sans-serif;
                }
                .content-container {
                    display: flex;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    gap: 1em;
                    .row1 {
                        position: relative;
                        width: 45vw;
                        min-height: 60vh;
                        box-shadow: 0 4px 10px 0 $background;
                        padding: 1em;
                        background-color: $primary-color;
                        border-radius: 25px;
                        .content {
                            margin: 1em;
                            order: 1;
                            margin: 0;
                            background-color: $primary-color;
                            padding: 1em;
                            border-color: 5px solid black;
                            width: auto;
                            height: 100%;
                            .img {
                                width: 100%;
                                border-style: solid;
                            }
                        }
                        .info-left {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transition: 0.8s;
                            border-radius: 25px;
                            background-color: white;
                            opacity: 1;
                            font-family: 'Times New Roman', Times, serif;
                            padding: 1em;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            span {
                                font-weight: bolder;
                            }
                            .span_tech {
                                background-color: $secondary-color;
                                margin: 0 5px;
                                padding: 5px;
                                color: white;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .App {
        .home {
            .body {
                .projects {
                    .content-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: left;
                        flex-wrap: nowrap;
                        width: 100%;
                        gap: 1em;
                        padding: 1em;
                        .row1 {
                            position: relative;
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            padding: 1em;
                            .content {
                                order: 2;
                                width: 100%;
                                height: 100%;
                                margin: 0;
                                background-color: $secondary-color;
                                padding: 1em;
                                border-color: 5px solid black;
                                .img {
                                    width: 100%;
                                    border-style: solid;
                                    border-color: $primary-color;
                                }
                            }
                            .side {
                                order: 1;
                                width: 100%;
                                border-bottom-right-radius: 0;
                                border-top-right-radius: 0;
                                text-align: center;
                                h4 {
                                    font-size: 20px;
                                    font-weight: bolder;
                                    margin-top: .5em;
                                }
                                h5 {
                                    font-size: 18px;
                                }
                            }
                            .info-left {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}