* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.App .home .body .projects {
  min-height: 100vh;
  width: 100%;
  position: inherit;
  margin-top: 10%;
}

.App .home .body .projects .list-header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 3em;
  background-image: -webkit-gradient(linear, left top, right top, from(#F5E1DA), to(#C0564B));
  background-image: linear-gradient(to right, #F5E1DA, #C0564B);
  color: black;
  z-index: 1;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
}

.App .home .body .projects .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}

.App .home .body .projects .content-container .row1 {
  position: relative;
  width: 45vw;
  min-height: 60vh;
  -webkit-box-shadow: 0 4px 10px 0 #C0564B;
          box-shadow: 0 4px 10px 0 #C0564B;
  padding: 1em;
  background-color: #D0A616;
  border-radius: 25px;
}

.App .home .body .projects .content-container .row1 .content {
  margin: 1em;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  background-color: #D0A616;
  padding: 1em;
  border-color: 5px solid black;
  width: auto;
  height: 100%;
}

.App .home .body .projects .content-container .row1 .content .img {
  width: 100%;
  border-style: solid;
}

.App .home .body .projects .content-container .row1 .info-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-radius: 25px;
  background-color: white;
  opacity: 1;
  font-family: 'Times New Roman', Times, serif;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .home .body .projects .content-container .row1 .info-left span {
  font-weight: bolder;
}

.App .home .body .projects .content-container .row1 .info-left .span_tech {
  background-color: #007B70;
  margin: 0 5px;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .App .home .body .projects .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    gap: 1em;
    padding: 1em;
  }
  .App .home .body .projects .content-container .row1 {
    position: relative;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
  }
  .App .home .body .projects .content-container .row1 .content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #007B70;
    padding: 1em;
    border-color: 5px solid black;
  }
  .App .home .body .projects .content-container .row1 .content .img {
    width: 100%;
    border-style: solid;
    border-color: #D0A616;
  }
  .App .home .body .projects .content-container .row1 .side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
  }
  .App .home .body .projects .content-container .row1 .side h4 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: .5em;
  }
  .App .home .body .projects .content-container .row1 .side h5 {
    font-size: 18px;
  }
  .App .home .body .projects .content-container .row1 .info-left {
    width: 100%;
  }
}
